:root {
    --fundo: rgb(255, 255, 255);
    --letra: #000000;
    --fundo-2: #fdfdfd;
    --corlegal: #ffffff;
    --verdeescu: rgb(240, 252, 245);
   
    
}

.cabeca-lista {
    margin: 10;
    padding: 10;
    box-sizing: border-box; 
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.container {
    max-width: 100%; 
    margin: 5 auto; 
    
}

@media (min-width: 600px) {
}

body {
    overflow-x: hidden; 
    overflow-y: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    padding: 100;
    margin: 100;
    height: 100%;
   background-color: aquamarine;
    
}

.legal {
    background: var(--fundo-2);
    min-height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

}

.painel {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--fundo), var(--fundo-2));
    color: var(--letra);
    align-items: center;
    padding: 10px ;
    justify-content: center;
}

.cabeca {
    max-width: 100px;
    height: auto;
}

.cabeca-lista-item,
.cabeca-lista-item1 {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    text-decoration: none;
}

.cabeca-lista-item1 {
    color: var(--corlegal);
}

.cabeca-lista {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.maconha-titulo {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}

.texto1,
.texto2 {
    text-align: center;
    font-size: 24px;
}

.letrinha-kk {
    font-size: 32px;
    display:flex;
    justify-content: center;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2 {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.minha-imagem {
    .image {
        position: right: ;;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
}
